.caixa {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center 
 }
.box {
    width: 50%;
    height: 50%;
}
.box2 {
    align-content: flex-end;
}
body {
    margin: 0px;
    }